body {
  font-family: Helvetica, sans-serif;
  color: rgb(244, 249, 255);
  background-color: rgb(20, 33, 70);
}

.logoCont {
  display: flex;
  padding: 30px;
  justify-content: center;
  min-width: 800px;
}

.logo {
  height: 100px;
}

#boardContainers {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  top: 52px;
  min-width: 800px;

  min-height: 394px;
}

.boardCont {
  display: grid;
  min-width: 394px;
  height: 394px;
  align-items: center;
  justify-content: center;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

#userTitle,
#aiTitle {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

#userTitle {
  color: rgb(183, 198, 216);
}
#aiTitle {
  color: rgb(164, 212, 235);
}

#battleBoard,
#userBoard,
#aiBoard {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template-rows: repeat(10, 35px);
  grid-template-columns: repeat(10, 35px);
}

.cyan,
.blue,
.grey,
.shipSquare,
.aiShipSquare {
  display: flex;
  align-items: center;
  height: 34px;
  width: 34px;
  border: 1px dotted rgb(255, 255, 255);
}

.cyan:hover,
.blue:hover,
.grey:hover {
  background-color: rgb(255, 238, 223);
}

.cyan {
  background-color: rgb(215, 239, 250);
  color: rgb(189, 198, 218);
}

.blue {
  background-color: rgb(207, 218, 231);
  color: rgb(215, 239, 250);
}

.grey,
.aiShipSquare {
  background-color: #d8d7e0;
  border: white 1px stroke;
}

.shipSquare {
  background-color: rgb(83, 83, 83);
}

.boardCont .hitShip {
  background-color: rgb(233, 31, 31);
  animation: bulge 0.5s;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.missed {
  background-color: rgb(120, 183, 202);
}

.userMissed {
  background-color: rgb(202, 183, 120);
}

.boardCont .boom {
  background-color: rgb(255, 255, 104);
}

.boardCont .flash {
  background-image: url("/explosion.gif");
  background-size: cover;
  background-color: rgb(255, 255, 104);
}

.announceCont {
  display: none;
  padding-bottom: 30px;
  justify-content: center;
  min-width: 800px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.playButton {
  appearance: button;
  background-color: rgb(207, 218, 231);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.playButton:after {
  background-clip: padding-box;
  background-color: rgb(164, 212, 235);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.playButton:main,
.playButton:focus {
  user-select: auto;
}

.playButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.playButton:disabled {
  cursor: auto;
}

.shipElements {
  display: grid;
  padding: 30px;
  justify-content: center;
}

.shipPiece {
  border: white solid 1px;
  position: relative;
}

.vertical {
  position: relative;
}
