body {
  font-family: Helvetica, sans-serif;
}

.boardCont {
  display: grid;
  width: 394px;
  height: 394px;
  margin: 0 auto;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

#userTitle {
  display: flex;
  justify-content: center;
}

#battleBoard,
#userBoard {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template-rows: repeat(10, 35px);
  grid-template-columns: repeat(10, 35px);
}

.cyan,
.blue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  border: 2px solid rgb(255, 255, 255);
}

.cyan:hover,
.blue:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.cyan {
  background-color: rgb(215, 239, 250);
  color: rgb(189, 198, 218);
}

.blue {
  background-color: rgb(207, 218, 231);
  color: rgb(215, 239, 250);
}

#shipSquare {
  background-color: rgb(83, 83, 83);
}

.hitShip {
  background-color: rgb(216, 66, 66);
}

.missed {
  background-color: rgb(202, 183, 120);
}

.flash {
  background: rgb(255, 255, 226) !important;
}
