body {
  font-family: Helvetica, sans-serif;
}

#battleBoard {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  margin: 0 auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.battleSquareWhite,
.battleSquareBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  text-transform: uppercase;
}

.battleSquareWhite {
  background-color: rgb(215, 239, 250);
  color: rgb(154, 153, 167);
}

.battleSquareBlack {
  background-color: rgb(187, 204, 211);
  color: rgb(215, 239, 250);
}

#knightPic {
  height: 50px;
}
